---
apiVersion: v1
kind: Secret
metadata:
  name: app-paymybuddy-pass
type: Opaque
data:
  mysql_user: {{ mysql_auth_usr }}
  mysql_password: {{ mysql_auth_psw }}
  mysql_root_password: {{ mysql_auth_psw }}