<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Please log in</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<main class="container">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start align-items-center justify-content-around">
        <!-- display alert if user successfully created-->
        <div th:if="${created}"
             class="col-6 mx-auto alert alert-success alert-dismissible fade show mb-lg-0 my-2"
             role="alert">
            <h5 class="alert-heading">Congratulations!</h5>
            <p th:text="${created}">Success message
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button></p>
        </div>
        <!--Successful logout-->
        <div th:if="${param.logout}"
             class="col-6 mx-auto alert alert-success alert-dismissible fade show mb-lg-0 my-2"
             role="alert">
            <h5 class="alert-heading">Succesfully logged out</h5>
            <p>Hope to see you soon!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button></p>
        </div>
        <!-- display alert if an error occurred-->
        <div th:if="${error}"
             th:text="${error}"
             class="col-6 mx-auto alert alert-danger alert-dismissible fade show mb-lg-0"
             role="alert"> Error message.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!--Alert message when login error-->
        <div th:if="${param.error}"
             class="col-6 mx-auto alert alert-danger alert-dismissible fade show mb-lg-0"
             role="alert">
            <h5 class="alert-heading">Login failed:</h5>
            <p class="text-danger text-center text-wrap">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="col-6 mx-auto">
            <!--form-->
            <div class="row-lg-6 mb-5 mb-lg-0 my-4">
                <div class="card">
                    <div class="card-body py-4 px-md-4">
                        <form id="login-form" th:action="@{/login}" method="post">
                            <!-- Pay My Buddy button -->
                            <button class="btn btn-success mb-4" href="/login">Pay My Buddy</button>

                            <!-- Email input -->
                            <div class="form-group ">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </div>
                                    <input class="form-control" id="email" name="email" type="email" placeholder="Email" autofocus/>
                                </div>
                            </div>
                            <!-- Password input -->
                            <div class="form-group ">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-asterisk"></span>
                                    </div>
                                    <input class="form-control" id="password" name="password" type="password" placeholder="Password"/>
                                </div>
                            </div>
                            <!--remember me checkbox-->
                            <div class="form-group-row  mb-4">
                                <input type="checkbox" class="form-check-input" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">Remember me</label>
                            </div>
                            <!-- Login button -->
                            <button type="submit" class="btn btn-primary  mb-4">
                                Log in
                            </button>

                            <!--sign up link-->
                            <div class="row  mx-auto my-auto">
                                <p class="text-center">
                                    New here? <a th:href="@{/signup}" href="/signup">Create an account</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <div th:replace="fragments/footer :: footer" class="text-center">Pay My Buddy | 2022 | &copy; <a href="https://github.com/ernhollam/PayMyBuddy" target="_blank">ernhollam</a></div>
</footer>

</body>

</html>